@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
header .header-inner h1 > a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

header .header-inner .nav a:hover::after {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  -webkit-box-reflect: below 16px;
}

header .header-inner .nav a:hover::before {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
  -webkit-box-reflect: below 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid black;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: #3B3B3B;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.primary-900 {
  color: #000000;
}
.primary-800 {
  color: #1E1E1E;
}
.primary-700 {
  color: #3B3B3B;
}
.primary-600 {
  color: #5B5B5B;
}
.primary-500 {
  color: #919191;
}
.primary-400 {
  color: #C1C1C1;
}
.primary-300 {
  color: #E9E9E9;
}
.primary-200 {
  color: #F1F1F1;
}
.primary-100 {
  color: #FAFAFA;
}
.primary-50 {
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #4dc060;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.df-row {
  display: flex;
  flex-direction: row;
}
.df-clounm {
  display: flex;
  flex-direction: column;
}

.pt-80 {
  padding-top: 80px;
}
.pt-120 {
  padding-top: 120px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-120 {
  padding-bottom: 120px;
}

.pr-123 {
  padding-right: 123px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}
.mr-100 {
  margin-right: 100px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-200 {
  margin-top: 200px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-200 {
  margin-bottom: 200px;
}

.aic {
  align-items: center;
}
.ais {
  align-items: start;
}

.jcfe {
  justify-content: flex-end;
}
.jcc {
  justify-content: center;
}

.g-16 {
  gap: 16px;
}
.g-24 {
  gap: 24px;
}
.g-40 {
  gap: 40px;
}
.g-55 {
  gap: 55px;
}
.g-80 {
  gap: 80px;
}

.font-20 {
  font-size: 20px;
}
.font-28 {
  font-size: 28px;
}

.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.title-font-28 {
  font-size: 28px;
  line-height: 1.2;
}
.title-font-32 {
  font-size: 32px;
  line-height: 1.2;
}
.title-font-40 {
  font-size: 40px;
  line-height: 1.2;
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F1;
  top: 0%;
}
header .header-inner {
  max-width: 1296px;
  margin: 0 auto;
  padding: 28px 0px;
  gap: 318px;
}
header .header-inner h1 > a {
  display: block;
  width: 90px;
  height: 40px;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg);
}
header .header-inner .nav a {
  display: block;
  padding: 4px 8px;
}
header .header-inner .nav a:hover {
  font-weight: 600;
  position: relative;
}
header .header-inner .nav a:hover::before {
  content: "";
  left: 0%;
  top: 0%;
}
header .header-inner .nav a:hover::after {
  content: "";
  right: 0%;
  top: 0%;
}

.banner {
  margin-top: 96px;
}

.mark {
  position: relative;
}
.mark::after {
  content: "";
  display: block;
  z-index: -100;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-49%);
  width: 115%;
  height: 8px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

.content h2 {
  text-align: center;
  letter-spacing: 0.12em;
  position: relative;
}
.content h2::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 6px;
  margin-right: 16px;
  vertical-align: middle;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.content h2::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 6px;
  margin-left: 16px;
  vertical-align: middle;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.content .info-link {
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #000000;
}
.content .works .work-card .work-info {
  width: 100%;
  max-width: 526px;
  padding: 80px 40px 56px;
  background: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 24px;
}
.content .works .work-card .work-info > ul {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}
.content .works .work-card .work-info > ul a {
  display: block;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.content .works .ticketing-plat {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
}
.content .works .finance-mgmt-app {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
}
.content .works .aesthetic-medicine {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
}
.content .works .backplane {
  background-color: rgba(10, 16, 19, 0.5019607843);
}
.content .service {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
}
.content .service .service-list {
  width: 100%;
}
.content .service .service-list > li {
  width: 100%;
  max-width: 306px;
  border-radius: 16px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
}/*# sourceMappingURL=all.css.map */