@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "_extnd";
@import "_variable";

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid black;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

.df {
  &-row {
    flex-direction: row;
    display: flex;
  }

  &-clounm {
    flex-direction: column;
    display: flex;
  }
}

.ml {
  &-8 {
    margin-left: 8px;
  }
}

.mr {
  &-8 {
    margin-right: 8px;
  }
}

.mb {
  &-8 {
    margin-bottom: 8px;
  }

  &-16 {
    margin-bottom: 16px;
  }

  &-24 {
    margin-bottom: 24px;
  }

  &-60 {
    margin-bottom: 60px;
  }
}

.ai {
  &c {
    align-items: center;
  }
}

.jc {
  &fe {
    justify-content: flex-end;
  }
}

.g {
  &-16 {
    gap: 16px;
  }

  &-24 {
    gap: 24px;
  }

  &-40 {
    gap: 40px;
  }
}

.font {
  &-20 {
    font-size: 20px;
  }

  &-28 {
    font-size: 28px;
  }
}

.fw {
  &-600 {
    font-weight: 600;
  }
}

.title-font {
  &-32 {
    font-size: 32px;
    line-height: 1.2;
  }

  &-40 {
    font-size: 40px;
    line-height: 1.2;
  }
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F1;
  top: 0%;

  .header-inner {
    max-width: $--col-12;
    margin: 0 auto;
    padding: 28px 0px;
    gap: 318px;

    h1>a {
      @extend %img-rplc-text;
      display: block;
      width: 90px;
      height: 40px;
      background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg);
    }

    .nav {
      a {
        display: block;
        padding: 4px 8px;

        &:hover {
          font-weight: 600;
          position: relative;

          &::before {
            content: '';
            @extend %nav-curr-pg-style-l;
            left: 0%;
            top: 0%;
          }

          &::after {
            content: '';
            @extend %nav-curr-pg-style-r;
            right: 0%;
            top: 0%;
          }
        }
      }
    }
  }
}

.banner {
  margin-top: 96px;

  .intro {
    .para {
      p {
        color: #5B5B5B;
      }

      p:last-child {
        color: #C1C1C1;
      }

    }
  }
}