@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "_extnd";
@import "_variable";

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid black;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.primary {
  &-900 {
    color: $primary-900;
  }

  &-800 {
    color: $primary-800;
  }

  &-700 {
    color: $primary-700;
  }

  &-600 {
    color: $primary-600;
  }

  &-500 {
    color: $primary-500;
  }

  &-400 {
    color: $primary-400;
  }

  &-300 {
    color: $primary-300;
  }

  &-200 {
    color: $primary-200;
  }

  &-100 {
    color: $primary-100;
  }

  &-50 {
    color: $primary-50;
  }
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

.w {
  &-50 {
    width: 50%;
  }

  &-100 {
    width: 100%;
  }
}

.df {
  &-row {
    display: flex;
    flex-direction: row;
  }

  &-clounm {
    display: flex;
    flex-direction: column;
  }
}

.pt {
  &-80 {
    padding-top: 80px;
  }

  &-120 {
    padding-top: 120px;
  }
}

.pb {
  &-40 {
    padding-bottom: 40px;
  }

  &-80 {
    padding-bottom: 80px;
  }

  &-120 {
    padding-bottom: 120px;
  }
}

.pr {
  &-123 {
    padding-right: 123px;
  }
}

.ml {
  &-8 {
    margin-left: 8px;
  }
}

.mr {
  &-8 {
    margin-right: 8px;
  }

  &-100 {
    margin-right: 100px;
  }
}

.mt {
  &-40 {
    margin-top: 40px;
  }

  &-120 {
    margin-top: 120px;
  }

  &-200 {
    margin-top: 200px;
  }
}

.mb {
  &-8 {
    margin-bottom: 8px;
  }

  &-16 {
    margin-bottom: 16px;
  }

  &-24 {
    margin-bottom: 24px;
  }

  &-40 {
    margin-bottom: 40px;
  }

  &-60 {
    margin-bottom: 60px;
  }

  &-80 {
    margin-bottom: 80px;
  }

  &-200 {
    margin-bottom: 200px;
  }
}

.ai {
  &c {
    align-items: center;
  }

  &s {
    align-items: start;
  }
}

.jc {
  &fe {
    justify-content: flex-end;
  }

  &c {
    justify-content: center;
  }
}

.g {
  &-16 {
    gap: 16px;
  }

  &-24 {
    gap: 24px;
  }

  &-40 {
    gap: 40px;
  }

  &-55 {
    gap: 55px;
  }

  &-80 {
    gap: 80px;
  }
}

.font {
  &-20 {
    font-size: 20px;
  }

  &-28 {
    font-size: 28px;
  }
}

.fw {
  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }
}

.title-font {
  &-28 {
    font-size: 28px;
    line-height: 1.2;
  }

  &-32 {
    font-size: 32px;
    line-height: 1.2;
  }

  &-40 {
    font-size: 40px;
    line-height: 1.2;
  }
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F1;
  top: 0%;

  .header-inner {
    max-width: $--col-12;
    margin: 0 auto;
    padding: 28px 0px;
    gap: 318px;

    h1>a {
      @extend %img-rplc-text;
      display: block;
      width: 90px;
      height: 40px;
      background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg);
    }

    .nav {
      a {
        display: block;
        padding: 4px 8px;

        &:hover {
          font-weight: 600;
          position: relative;

          &::before {
            content: '';
            @extend %nav-curr-pg-style-l;
            left: 0%;
            top: 0%;
          }

          &::after {
            content: '';
            @extend %nav-curr-pg-style-r;
            right: 0%;
            top: 0%;
          }
        }
      }
    }
  }
}

.banner {
  margin-top: 96px;
}

.mark {
  position: relative;

  &::after {
    content: "";
    display: block;
    z-index: -100;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-49%);
    width: 115%;
    height: 8px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.content {
  h2 {
    text-align: center;
    letter-spacing: 0.12em;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 100px;
      height: 6px;
      margin-right: 16px;
      vertical-align: middle;
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 100px;
      height: 6px;
      margin-left: 16px;
      vertical-align: middle;
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .info-link {
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 5px;
    background-color: $primary-900;
  }

  .works {
    .work-card {
      .work-info {
        width: 100%;
        max-width: 526px;
        padding: 80px 40px 56px;
        background: #FFFFFF1A;
        backdrop-filter: blur(5px);
        border-radius: 24px;

        >ul {
          width: 100%;
          border-bottom: 1px solid $primary-50;

          a {
            display: block;
            padding: 4px 12px;
            border-radius: 16px;
            background-color: $primary-50;
          }
        }
      }
    }

    .ticketing-plat {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
    }

    .finance-mgmt-app {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
    }

    .aesthetic-medicine {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
    }

    .backplane {
      background-color: #0A101380;
    }
  }

  .service {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;

    .service-list {
      width: 100%;
      >li {
        width: 100%;
        max-width: $--col-3;
        border-radius: 16px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
      }
    }
  }
}